<h3>Instruction</h3>
<P>
    Please keep whatapp login active at the time of schedule
</P>

<div class="content">
    <h1 style="text-align: center">iNeuron courses</h1>

    <div class="form">
        <form action="/send" method="post">
        <label for="Mobile Number">Mobile Number:</label>
        <input name="Mobile Number" id="Mobile Number" type="text" />

        <label for="Message">Message:</label>
        <textarea name="Message" id="Message" maxlength="1000" cols="25" rows="6"> </textarea>

        <label for="Hours">Hours:</label>
        <input name="Hours" id="Hours" type="text" />

        <label for="Minutes">Minutes:</label>
        <input name="Minutes" id="Minutes" type="tel" />

        <input type="submit" value="Submit"/>

    </form>


        
    </div>
</div>

<div>
    <h3>{{results}}</h3>
</div>